
.invert {
  filter: invert(100%);
}


.penguin-frame {
  padding: 1px;
  background: white;
  border: 0.5px solid black;
  border-radius: 150%;
  display: inline-block;
}

.penguin-old {
  width: 450px;
  border-radius: 150%;
  object-fit: cover;
  filter: sepia(85%) brightness(98%) contrast(100%) saturate(98%);
}

.dino-blue {
  filter:
    hue-rotate(100deg)
    saturate(150%)
    brightness(95%)
    drop-shadow(20px 20px 15px rgba(0,0,0,0.5));
}

.seagull-box {
  width: 600px;
  padding: 40px;
  background: linear-gradient(to bottom right, #b0b8ff, #ffffff);
  border-radius: 10px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.25);
}

.seagull {
  width: 100%;
  display: block;
}



.final-frame {
  display: inline-block;
  filter: grayscale(100%) brightness(90%) contrast(110%);
}

.row {
  display: flex;
  justify-content: center;
}


.middle {
  display: flex;
  justify-content: center;
  align-items: stretch;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.ttt {
  width: 40px;
}


.final-field {
  width: 640px;
  display: block;
  margin: 0 5px;
}


.theater-stage {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
