<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CSS Filters Assignment</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <!-- Penguin -->
  <div class="penguin-frame">
    <img src="images/penguins.jpg" class="penguin-old" alt="vintage penguins">
  </div>

  <br><br>

  <!-- Grey Football Field (alone) -->
  <img src="images/football_field.jpg" class="field-grey" alt="grey football field">

  <br><br>

  <!-- Grey Tic Tac Toe (alone) -->
  <img src="images/tic-tac-toe.png" class="tictactoe-grey" alt="grey tic tac toe">

  <br><br>

  <!-- Butterfly -->
  <img src="images/butterfly.jpg" class="invert" alt="butterfly">

  <br><br>

  <!-- Dinosaur -->
  <img src="images/dinosaur.png" class="dino-blue" alt="blue dinosaur">

  <br><br>

  <!-- Seagull Gradient -->
  <div class="seagull-box">
    <img src="images/seagull.png" class="seagull" alt="seagull">
  </div>

  <br><br>

  <!-- FINAL COMPOSITE: Field + Tic Tac Toe Border -->
  <div class="final-composite">
    
    <!-- Top Row -->
    <div class="row">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
    </div>

    <!-- Middle with Field -->
    <div class="middle">
      <div class="column">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
      </div>

      <img src="images/football_field.jpg" class="field-grey final-field" alt="grey football field in frame">

      <div class="column">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
        <img src="images/tic-tac-toe.png" class="ttt">
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="row">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
      <img src="images/tic-tac-toe.png" class="ttt">
    </div>

  </div>

</body>
</html>
