.invert {
  filter: invert(100%);
}

/* Penguin */
.penguin-frame {
  padding: 1px;
  background: white;
  border: 0.5px solid black;
  border-radius: 150%;
  display: inline-block;
}

.penguin-old {
  width: 450px;
  border-radius: 150%;
  object-fit: cover;
  filter: sepia(85%) brightness(98%) contrast(100%) saturate(98%);
}

/* Dino */
.dino-blue {
  filter:
    hue-rotate(100deg)
    saturate(150%)
    brightness(95%)
    drop-shadow(20px 20px 15px rgba(0,0,0,0.5));
}

/* Seagull */
.seagull-box {
  width: 600px;
  padding: 40px;
  background: linear-gradient(to bottom right, #b0b8ff, #ffffff);
  border-radius: 10px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.25);
}

.seagull {
  width: 100%;
  display: block;
}

/* FINAL BORDER FIELD */
.final-frame {
  display: inline-block;
  padding: 25px;
  border: 60px solid transparent;
  border-image: url(images/tic-tac-toe.png) 33 round;
  filter: grayscale(100%) brightness(90%) contrast(110%);
}

.final-field {
  width: 600px;
  display: block;
}







